<div>
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron shadow p-0">
                <div class="btn w-100 py-3" routerLink="/Welcome">
                    <h3 class="m-0 p-0"><i class="fa fa-chevron-left mx-2" aria-hidden="true"></i> Go back to Home
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron shadow py-3">
        <h1>Examples of angular concepts & features</h1>
        <small>Created by Raj Thakkar at Gateway Technolabs</small>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron shadow">
                <app-ngmodel></app-ngmodel>
            </div>
            <div class="jumbotron shadow">
                <app-pipes></app-pipes>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron shadow">
                <app-tags></app-tags>
            </div>
        </div>
    </div>
</div>