<div>

  <div class="row">
    <div class="col-md-4">
      <div class="jumbotron shadow p-0">
        <div class="btn w-100 py-2" routerLink="/App/List">
          <h4 class="m-0 p-0"><i class="fa fa-chevron-left mx-2" aria-hidden="true"></i> Go back to List
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron shadow">
    <div class="d-flex justify-content-center pt-5">
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">

        <div class="form-group row">

          <div class="col-md-12">
            <label class="control-label">First name</label>
          </div>

          <div class="col-md-12">
            <input appInputResetDirective formControlName="first_name" type="text"
              class="form-control shadow-sm border-0 rounded-0">
            <div
              *ngIf="userDetailsForm.get('first_name').invalid && 
                                userDetailsForm.get('first_name').errors && 
                                (userDetailsForm.get('first_name').dirty || userDetailsForm.get('first_name').touched)">
              <small class="text-danger" *ngIf="userDetailsForm.get('first_name').hasError('required')">
                This field is required.
              </small>
              <small class="text-danger" *ngIf="userDetailsForm.get('first_name').hasError('pattern')">
                Please enter valid first name
              </small>
            </div>
          </div>

        </div>

        <div class="form-group row">

          <div class="col-md-12">
            <label class="control-label">Last name</label>
          </div>

          <div class="col-md-12">
            <input appInputResetDirective formControlName="last_name" type="text"
              class="form-control shadow-sm border-0 rounded-0">
            <div *ngIf="userDetailsForm.get('last_name').invalid && 
                              userDetailsForm.get('last_name').errors && 
                              (userDetailsForm.get('last_name').dirty || userDetailsForm.get('last_name').touched)">
              <small class="text-danger" *ngIf="userDetailsForm.get('last_name').hasError('required')">
                This field is required.
              </small>
              <small class="text-danger" *ngIf="userDetailsForm.get('last_name').hasError('pattern')">
                Please enter valid last name
              </small>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label class="control-label">Email</label>
          </div>
          <div class="col-md-12">
            <input appInputResetDirective formControlName="email" type="text"
              class="form-control shadow-sm border-0 rounded-0">
            <div *ngIf="userDetailsForm.get('email').invalid && 
                        userDetailsForm.get('email').errors && 
                        (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">
              <small class="text-danger" *ngIf="userDetailsForm.get('email').hasError('required')">
                This field is required.
              </small>
              <small class="text-danger" *ngIf="userDetailsForm.get('email').hasError('pattern')">
                Please enter valid email.
              </small>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label class="control-label">Avatar</label>
          </div>
          <div class="col-md-12">
            <input appInputResetDirective formControlName="avatar" type="avatar"
              class="form-control shadow-sm border-0 rounded-0">
            <div *ngIf="userDetailsForm.get('avatar').invalid && 
                            userDetailsForm.get('avatar').errors && 
                            (userDetailsForm.get('avatar').dirty || userDetailsForm.get('avatar').touched)">
              <small class="text-danger" *ngIf="userDetailsForm.get('avatar').hasError('required')">
                This field is required.
              </small>
            </div>
          </div>

        </div>

        <div class="form-group row">

          <div class="col-md-12">

            <div *ngIf="mode == 0; then add; else update">
            </div>

            <ng-template #add>
              <input [disabled]="userDetailsForm.invalid" value="Create" type="submit"
                class="btn w-100 btn-lg btn-primary shadow">
            </ng-template>

            <ng-template #update>
              <input [disabled]="userDetailsForm.invalid" value="Update" type="submit"
                class="btn w-100 btn-lg btn-primary shadow">
            </ng-template>

          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <input value="Reset" type="reset" class="btn w-100 btn-lg btn-primary shadow">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
