<div>

    <h6 class="font-weight-bold">
        Using Services to get data from API
        <br />
        Using NgClass to strike-throught list of todos to check/uncheck
    </h6>

    <div *ngIf="todos.length > 0; then data; else loader"></div>

    <ng-template #data>
        <div class="todo-container">
            <div *ngFor="let todo of todos" class="row">
                <div class="col-md-1">
                    <input type="checkbox" [(ngModel)]="todo.completed">
                </div>
                <div class="col-md-6" [ngClass]="(!todo.completed)?'':'strike-through'">
                    {{todo.title}}
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #loader>
        <div class="row w-100 pt-5 justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
    <div class="pt-4">
        <app-add-todo (newTodoItem)="addTodoItem($event)"></app-add-todo>
    </div>


</div>