<div>

    <h6 class="font-weight-bold">Two binding using NgModel</h6>

    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Type anything in me</label>
        </div>
        <div class="col-md-12">
            <input [(ngModel)]="reflector" type="text" class="form-control shadow-sm border-0 rounded-0">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">I Will Reflect</label>
        </div>
        <div class="col-md-12">
            <input type="text" [(ngModel)]="reflector" class="form-control shadow-sm border-0 rounded-0">
        </div>
    </div>
</div>