<form [formGroup]="todoForm" class="row" (ngSubmit)="onSubmit()">
    <div class="col-md-8">
        <input formControlName="title" tpye="text" placehoder="Add new todo item"
            class="form-control shadow-sm border-0 rounded-0" />
        <div *ngIf="todoForm.get('title').invalid 
                    && todoForm.get('title').errors 
                    &&  (todoForm.get('title').dirty 
                        || todoForm.get('title').touched)">
            <small class="text-danger" *ngIf="todoForm.get('title').hasError('required')">
                This field is required.
            </small>
        </div>
    </div>
    <div class="col-md-4">
        <input type="submit" [disabled]="todoForm.invalid" class="btn btn-primary w-100" value="Add + ">
    </div>
</form>