<div>
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron shadow p-0">
                <div class="btn w-100 py-3" routerLink="/Welcome">
                    <h3 class="m-0 p-0"><i class="fa fa-chevron-left mx-2" aria-hidden="true"></i> Go back to Home
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron shadow">
        <div class="d-flex">
            <object class="app-logo" data="../../../../assets/img/welcome-to-connect-bg.svg" width="184px"></object>
            <div class="d-flex justify-content-center flex-column">
                <h1 class="display-4 h-auto">About us !</h1>
            </div>

        </div>

        <p class="lead">Connect is a morden and secure social networking platform</p>
        <hr class="my-4">
        <h2>
            More About Us
        </h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
            and
            original
            form, accompanied versions from the 1914 translation by H. Rackham... </p>

        <h2>
            Vision
        </h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
            and
            original
            form, accompanied versions from the 1914 translation by H. Rackham... </p>

        <h2>
            Mission
        </h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
            and
            original
            form, accompanied versions from the 1914 translation by H. Rackham... </p>


        <hr class="my-4">

        <small>Created by Raj Thakkar @Gateway Technolabs</small>
    </div>
</div>