<div>
    <h6 class="font-weight-bold">Use of Custom and Inbuilt Pipes</h6>
    <div class="form-group">
        <div class="col-md-12">
            <div class="row">
                select Date Pipe Format Option
            </div>
            <div class="row my-3">
                <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="selectedDateFormat">
                    <label ngbButtonLabel class="btn btn-primary">
                        <input ngbButton type="radio" [value]="1"> dd/mm/yy
                    </label>
                    <label ngbButtonLabel class="btn btn-primary">
                        <input ngbButton type="radio" value="2"> mm/dd/yy
                    </label>
                    <label ngbButtonLabel class="btn btn-primary">
                        <input ngbButton type="radio" [value]="3"> yy/mm/dd
                    </label>
                </div>
            </div>
            <div class="row">
                The hero's birthday is <u class="px-2"> {{ date | date:dateFormate }} </u>
            </div>

            <div class="row my-2">
                Custome Pipe To implement Ceaser Cipher
            </div>

            <div class="row">
                <div class="col-md-2 pl-0">
                    <label>Key </label>
                    <input [(ngModel)]=key type="number" max="5" min="-5"
                        class="form-control shadow-sm border-0 rounded-0">
                </div>
                <div class="col-md-5 px-0">
                    <label>Plain Text</label>
                    <input type="text" [(ngModel)]=plainText class="form-control shadow-sm border-0 rounded-0">
                </div>
                <div class="col-md-5 pr-0">
                    <label>Cipher Text</label>
                    <input type="text" value="{{cipherdText}}" class="form-control shadow-sm border-0 rounded-0">
                </div>
            </div>

            <div class="row my-2">
                <div class="col-md-4 pl-0">
                    <label>I'm Uppercase</label>
                    <input type="text" value="{{upperCaseText | uppercase:upperCaseText }}" [(ngModel)]=upperCaseText
                        class="form-control shadow-sm border-0 rounded-0">
                </div>
                <div class="col-md-4">
                    <label>I'm Lowercase</label>
                    <input type="text" value="{{lowerCaseText | lowercase:lowerCaseText }}" [(ngModel)]=lowerCaseText
                        class="form-control shadow-sm border-0 rounded-0">
                </div>
                <div class="col-md-4">
                    <label>I'm Titlecase</label>
                    <input type="text" value="{{titleCaseText | titlecase:titleCaseText }}" [(ngModel)]=titleCaseText
                        class="form-control shadow-sm border-0 rounded-0">
                </div>

            </div>

        </div>
    </div>
</div>