<div>

    <h6 class="font-weight-bold">
        Using Services to get data from API
        <br />
        Using NgClass to strike-throught list of tags on check/uncheck
    </h6>

    <div *ngIf="tags.length > 0; then data; else loader">this is ignored</div>

    <ng-template #data>
        <div *ngFor="let tag of tags" class="row">
            <div class="col-md-1">
                <input type="checkbox" [(ngModel)]="tag.isActive">
            </div>
            <div class="col-md-6" [ngClass]="(tag.isActive)?'':'strike-through'">
                {{tag.title}}
            </div>
        </div>
    </ng-template>

    <ng-template #loader>
        <div class="row w-100 pt-5 justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>

</div>