<div>
    <div class="jumbotron shadow">
        <div class="d-flex">
            <object class="app-logo" data="../../../../../assets/img/welcome-to-connect-bg.svg" width="184px"></object>
            <div class="d-flex justify-content-center flex-column">
                <h1 class="display-4 h-auto">Welcome to Connect !</h1>
            </div>
        </div>
        <p class="lead">Connect is a morden and secure social networking platform</p>
        <hr class="my-4">
        <h2>
            More About Us
        </h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
            and
            original
            form, accompanied versions from the 1914 translation by H. Rackham... <a routerLink="/App/Aboutus"
                class="app-anchor">Read
                More</a></p>
        <hr class="my-4">
        <small>Created by Raj Thakkar @Gateway Technolabs</small>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron shadow">
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center flex-column px-5">
                        <h2>Wish to Join Us ?</h2>
                    </div>
                    <button routerLink="/App/Register" class="btn shadow-sm btn-lg">Register</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron shadow">
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center flex-column px-5">
                        <h2>Already Registerd ?</h2>
                    </div>
                    <button routerLink="/App/Login" class="btn shadow-sm btn-lg">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron shadow">
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center flex-column px-5">
                        <h2>Click Here to See Other Implementations</h2>
                    </div>
                    <button routerLink="/Examples" class="btn shadow-sm btn-lg">Ng Explore</button>
                </div>
            </div>
        </div>
    </div>
</div>