:root {
    --theme-main-color: #ff00fc;
    --theme-main-color-dark: #d600d4;
    --theme-main-color-light: #ff80fd;
    --theme-main-header-color: #ff00fc;    
    --theme-background-color-light: #4f5b62;
    --theme-background-color-dark: #263238;
    --theme-font-color-light: #ffffff;
    --theme-font-color-dark: #9ea7aa;    
}

* {
    font-family: 'Raleway', sans-serif;    
}

*:focus{
    outline: unset;
}

hr {
    border-color: var(--theme-icon-color) !important;
}

body {
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;    
    background-position: 132px 256px;
    background-image: url('./assets/img/welcome-to-connect-bg.svg');
}

.strike-through {
    text-decoration: line-through !important;
}

h1::first-letter {
    font-size: 64px;
    color: var(--theme-main-color-light);
}

h1:hover:first-letter {    
    color: var(--theme-main-color-dark);
}

h2 {
    margin-bottom: 0px !important;
}
 
.app-anchor {
    color: var(--theme-main-color-light);
    cursor: pointer;    
}

    .app-anchor:hover {
        color: var(--theme-main-color-dark);        
        border-bottom: 2px solid var(--theme-main-color-dark);
        text-decoration: none;
    }

    .app-anchor:visited {
        color: var(--theme-main-color-light);
    }

/* ============================================ */
/* Overriding Bootstrap Styles Starts From Here */
/* ============================================ */
.btn.active{
    background-color: var(--theme-main-color-dark) !important;     
}
.btn {
    background-color: var(--theme-main-color-light) !important;    
    color: var(--theme-font-color-light) !important;
    border-color: var(--theme-main-color-light) !important;
    border-radius: 0px!important;
}
.focus{
    outline: none!important;
}
.btn:hover {
    background-color: var(--theme-main-color-dark) !important;     
    border-color: var(--theme-main-color-dark) !important;
}
.jumbotron{
    border-radius: 0px!important;    
}
.spinner-border{
    color: var(--theme-main-color-dark) !important;   
}
.shadow-none {
    box-shadow: none!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.ngb-dp-weekday{
    color: var(--theme-font-color-dark) !important;
}
.bg-primary{
    background-color: var(--theme-main-color-dark) !important;
}
.btn-light:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: white !important;
    border-radius: 0px!important;
    color: initial !important;
}
.ngb-dp-content.ngb-dp-months{
    border-radius: 0px !important;
    border-color: unset !important;
    border: unset !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
/* ========================================== */
/* Overriding Bootstrap Styles Ends From Here */
/* ========================================== */